.btn {
    color: white;
    background-color: blueviolet;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: .3s;
    animation: btn-scale 3s infinite linear 5s;
}

.btn:hover {
    background-color: purple;
}

.square {
    width: 300px;
    height: 300px;
    animation: rotate 20s infinite linear;
}

.square2 {
    width: 200px;
    height: 200px;
    margin-left: 200px;
    animation: rotate 30s infinite linear;
    animation-direction: reverse;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        background-color: orange;
    }
    100% {
        transform: rotate(360deg);
        background-color: orangered;
    }
}


@keyframes btn-scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);   
    }
}