 * {
     font-family: Arial, Helvetica, sans-serif;
     box-sizing: border-box;
 }

 html, body {
     margin: 0;
 }

 .block {
     background-color: #597d8b;
     margin: auto;
     color: #fff;
 }

 .block-heading {
     text-align: center;
     margin: 0 0 50px;
     padding: 50px 0 0;
     font-size: 40px;
     font-weight: 700;
 }

 .row {
     max-width: 1000px;
     margin: 0 auto;
    
 }

.col {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.col:last-of-type {
    margin-left: 10px;
}

.inner {
    display: inline-block;
    background-color: #1f3040;
    width: 46%;
}
.inner-heading {
    color: #a3d6e7;
    font-size: 50px;
    font-weight: 700;
    padding-left: 30px;
}
.inner-section {
    padding-left: 30px;
}
.indent-2 {
    padding: 0 30px;
}
.indent {
    margin-top: 0px;
    padding: 0px 50px 25px 0px;
}
.indent-1 {
    padding-right: 50px;
}

.inner:last-of-type {
    margin-left: 30px;
}

.medicine-bottom {
    text-align: center;
    margin: 60px 0px;
    padding-bottom: 60px;
    font-weight: 400;
}
.medicine-bottom, a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 3px;
}

a:hover {
    color: #1f3040;
    letter-spacing: 5px;  
}