

.picture {
    max-width: 300px;
}

.float-left {
    float: left;
    margin: 0 20px  20px 0;
}

.float-right  {
    float: right;
    margin: 0 0 20px 20px;
}

.col {
    float: left;
    width: 33.3333%;
}

.row::before, .row::after {
    content: "";
    clear: both;
    display: table;
}

.square {
    /* ширина видимой области */
    width: 20vw; 
    /* высота видимой области */
    height: 20vh;
    background-color: yellow;
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 2;
}

.square-2 {
    background-color: purple;
    top: 100px;
    left: 100px;
    z-index: 1;
    /* position: fixed; */
    /* position: sticky; */

}
.relative {
    position: relative;
    height: 500px;
    background-color: blue;
    overflow: hidden;
}

.cont1 {
    position: relative;
    width: 700px;
    height: 700px;
    background-color: cadetblue;
}

.cont2 {
    width: 500px;
    height: 500px;
    background-color: yellow;
}

.cont3 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    background-color: purple;
}