@keyframes item-1 {
    0% {
        transform: scale(1.2) translate(-100px, 0);
    }
    
    100% {
        transform: scale(1) translate(0);
    }
}

@keyframes item-2 {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes item-3 {
    0% {
        transform: scale(1.2) translate(80px, 0);
    }

    100% {
        transform: scale(1) translate(-17px, 0);
    }
}


.container {
    margin: 80px auto;
    max-width: 800px;
    text-align: center;
}

.item-1 {
    transform: scale(1.2) translate(-100px, 0px);
    animation: item-1 3s 1 2s;
    animation-fill-mode: forwards;
}

.item-2 {
    transform: scale(1.2);
    animation: item-2 3s 1 2s;
    animation-fill-mode: forwards;
}

.item-3 {
    transform: scale(1.2) translate(80px, 0px);
    animation: item-3 3s 1 2s;
    animation-fill-mode: forwards;
}


@media (max-width: 940px) {
    .container {
        max-width: 90%;
        transform: scale(.7);
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 640px) {
    .container {
        transform: scale(.5);
    }
}

@media (max-width: 480px) {
    .container {
        transform: scale(.35);
    }
}